In [108]:
# Import the Pandas package
import pandas as pd
import numpy as np
import re 
import warnings
warnings.filterwarnings("ignore")  # Suppress all warnings

In [109]:
def load_files(year):
    file_str = "data/demographics/Race{}.csv".format(year)
    temp_df = pd.read_csv(file_str, skiprows = 1)
    temp_df = temp_df.rename(columns = lambda col: col.lower())
    #temp_df = temp_df.rename(columns = lambda col: remove_punctuation(col.lower().strip()))
    #temp_df = temp_df.rename(columns = lambda col: clean_text(col))
    return temp_df

def remove_punctuation(str1):
    s = re.sub(r'[^\w\s]','',str1)
    return s

def clean_text(string,replace='_'):
    regex = '[^A-Za-z0-9]+'
    str1 = re.sub(regex, replace, string)
    return str1


def remove_digits(string):
    return re.sub('\d', '', string)


def replace_emdash(string):
    return string.replace('–','-',100)

def replace_all_special(string):
    return re.sub('[^A-Za-z0-9, ]+', '-', string)

def replace_msa(string):
    string= string.replace('Micro Area','')
    string= string.replace('Metro Area','')
    #string= string.replace('M.S.A','')
    return string.strip()

def split_name(string):
    try:
        split = string.split(',')
        city= split[0].strip()
        state = split[1].strip()
        city_split=city.split('-')
        state_split=state.split('-')
        return city_split[0]+', '+state_split[0]
    except:
        return None

In [110]:
for i in count_ocurrences.keys():
    if 'hispanic' in i and 'percent' in i:
        print(i,count_ocurrences[i])

percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race) 3
percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)_cuban 3
percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)_mexican 3
percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino 3
percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)_puerto_rican 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_american_indian_and_alaska_native_alone 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_asian_alone 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_black_or_african_american_alone 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_some_other_race_alone 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_two_or_more_races 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race 3
percent_hispanic_or_latino_and_race_not_hispanic_or_latino_white_alone 3
percent_hispanic_or_latino_and_race_total_population 8
percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race) 5
percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_cuban 5
percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_mexican 5
percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino 5
percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_puerto_rican 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_american_indian_and_alaska_native_alone 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_asian_alone 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_black_or_african_american_alone 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_native_hawaiian_and_other_pacific_islander_alone 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_some_other_race_alone 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race 5
percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_white_alone 5

In [111]:
def clean_cols(col):
    clean_column_name_list = col.split('!!')
    clean_2 = []
    for j in range(len(clean_column_name_list)):
        clean_2.append(clean_column_name_list[j].strip().replace(' ','_'))
    col_name = '_'.join(clean_2)
    return col_name

In [112]:
test = []

for key in count_ocurrences.keys():
    if(count_ocurrences[key]==8):
        test.append(key)
               
            
            
cols = [
  'geographic_area_name',
  "percent_race_one_race_asian",
  "percent_race_one_race_black_or_african_american",
  "percent_race_one_race_native_hawaiian_and_other_pacific_islander",
  "percent_race_one_race_white",
]
        
    
clean_dfs = []
for i,ddf in enumerate(dfs):
    year = i+2010
    please = ddf.rename(columns = lambda col: clean_cols(col))  
    temp  = please[test]
    temp =  temp[list(set(cols))]
    temp['Year'] = str(year)
    
    if('percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)' in please.columns):
        temp['percent_hispanic_or_latino'] = please['percent_hispanic_or_latino_and_race_hispanic_or_latino_(of_any_race)']
    else:
        temp['percent_hispanic_or_latino'] = please['percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)']
        
    clean_dfs.append(temp)

    
clean_df = pd.concat(clean_dfs)
clean_df['geographic_area_name'] = clean_df['geographic_area_name'].apply(remove_digits).apply(replace_emdash).apply(replace_msa).apply(split_name)
clean_df

,percent_race_one_race_asian,percent_race_one_race_black_or_african_american,percent_race_one_race_native_hawaiian_and_other_pacific_islander,geographic_area_name,percent_race_one_race_white,Year,percent_hispanic_or_latino
0,1.8,1.1,0.1,"Aberdeen, WA",84.4,2010,8.7
1,1.0,7.5,0.0,"Abilene, TX",84.3,2010,21.3
2,0.4,2.1,0.0,"Adrian, MI",93.2,2010,7.6
3,0.0,2.7,0.0,"Aguadilla, PR",87.3,2010,97.3
4,1.9,11.7,0.0,"Akron, OH",83.3,2010,1.5
5,1.1,53.4,0.0,"Albany, GA",43.6,2010,2.2
6,0.8,0.4,0.0,"Albany, OR",91.4,2010,7.9
7,3.0,7.7,0.0,"Albany, NY",85.3,2010,4.2
8,0.6,1.5,0.0,"Albertville, AL",93.1,2010,12.1
9,1.9,2.6,0.0,"Albuquerque, NM",70.0,2010,46.9
10,1.0,30.0,0.1,"Alexandria, LA",66.2,2010,3.0
11,0.6,1.0,0.0,"Allegan, MI",94.0,2010,6.7
12,2.6,5.1,0.0,"Allentown, PA",86.3,2010,13.0
13,0.7,1.6,0.0,"Altoona, PA",96.2,2010,1.0
14,2.4,5.8,0.2,"Amarillo, TX",84.9,2010,25.4
15,6.2,2.7,0.0,"Ames, IA",89.0,2010,3.1
16,6.5,4.9,1.7,"Anchorage, AK",71.1,2010,6.7
17,0.5,6.4,0.0,"Anderson, IN",88.8,2010,3.2
18,0.6,16.5,0.0,"Anderson, SC",80.6,2010,3.0
19,8.0,12.4,0.0,"Ann Arbor, MI",74.0,2010,4.0
20,0.6,21.2,0.0,"Anniston, AL",74.4,2010,3.4
21,2.8,0.4,0.0,"Appleton, WI",92.8,2010,3.6
22,1.0,4.4,0.2,"Asheville, NC",90.3,2010,6.5
23,0.3,3.5,0.0,"Ashtabula, OH",92.8,2010,3.4
24,0.2,7.0,0.0,"Athens, TX",90.2,2010,10.9
25,3.2,19.9,0.0,"Athens, GA",72.9,2010,8.1
26,4.8,32.5,0.0,"Atlanta, GA",56.4,2010,10.4
27,7.8,16.0,0.3,"Atlantic City, NJ",67.3,2010,16.9
28,2.1,3.3,0.0,"Auburn, NY",92.7,2010,2.4
29,2.6,23.2,0.1,"Auburn, AL",72.6,2010,3.3
...,...,...,...,...,...,...,...
489,1.6,15.3,0.0,"Waco, TX",77.2,2017,26.1
490,0.8,1.5,0.0,"Walla Walla, WA",85.7,2017,20.6
491,2.2,32.7,0.0,"Warner Robins, GA",60.6,2017,6.7
492,1.4,0.4,0.1,"Warsaw, IN",94.6,2017,8.0
493,10.3,25.3,0.0,"Washington, DC",52.8,2017,15.8
494,2.0,7.2,0.2,"Waterloo, IA",87.5,2017,3.5
495,0.7,1.0,0.0,"Watertown, WI",94.5,2017,7.1
496,1.4,6.6,0.3,"Watertown, NY",85.9,2017,7.6
497,5.9,1.1,0.0,"Wausau, WI",90.1,2017,2.9
498,0.4,4.4,0.2,"Weirton, WV",92.8,2017,1.2
499,1.2,0.2,0.1,"Wenatchee, WA",77.8,2017,29.4
500,0.2,3.1,0.0,"Wheeling, WV",94.4,2017,0.7
501,0.5,0.9,0.4,"Whitewater, WI",92.4,2017,11.4
502,3.7,7.4,0.1,"Wichita, KS",79.6,2017,13.1
503,1.5,9.4,0.1,"Wichita Falls, TX",77.5,2017,17.7
504,0.6,5.0,0.0,"Williamsport, PA",92.0,2017,2.0
505,1.2,14.0,0.4,"Wilmington, NC",79.9,2017,5.9
506,0.8,40.7,0.0,"Wilson, NC",52.7,2017,10.5
507,1.0,5.2,0.1,"Winchester, VA",88.9,2017,9.0
508,2.0,17.3,0.1,"Winston, NC",76.4,2017,10.2
509,2.1,0.4,0.0,"Wisconsin Rapids, WI",93.3,2017,3.0
510,1.2,0.7,0.1,"Wooster, OH",94.9,2017,2.0
511,4.5,4.7,0.0,"Worcester, MA",84.0,2017,11.5
512,0.9,0.6,0.0,"Yakima, WA",76.9,2017,49.4
513,1.6,5.7,0.1,"York, PA",89.2,2017,7.5
514,0.8,10.4,0.0,"Youngstown, OH",85.0,2017,3.5
515,12.0,3.4,0.7,"Yuba City, CA",72.1,2017,29.8
516,1.3,2.3,0.1,"Yuma, AZ",81.0,2017,63.9
517,N,N,N,"Zanesville, OH",N,2017,0.3
518,5.6,12.7,0.2,None,72.3,2017,18.1

In [113]:
clean_df.to_csv('CleanData/Race.csv',index=False)