In [3]:
import pandas as pd
import numpy as np

In [11]:
fps = pd.read_csv("fatal-police-shootings-data.csv")
fps.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [23]:
fps["city_state"] = fps["city"] + ", " + fps["state"]
fps
#fps["city.state"]pd.options.display.float_format = '{:,}'.format

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,"city,state","city, state",city_state
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True,"Shelton, WA","Shelton, WA","Shelton, WA"
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True,"Aloha, OR","Aloha, OR","Aloha, OR"
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True,"Wichita, KS","Wichita, KS","Wichita, KS"
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True,"San Francisco, CA","San Francisco, CA","San Francisco, CA"
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True,"Evans, CO","Evans, CO","Evans, CO"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,6538,David Tovar,2021-01-21,shot,undetermined,27.0,M,H,San Jose,CA,False,other,NaN,False,-121.830,37.379,True,"San Jose, CA","San Jose, CA","San Jose, CA"
5988,6543,Brian Abbott,2021-01-21,shot,knife,34.0,M,NaN,Caneyville,KY,False,other,Not fleeing,False,-86.486,37.429,True,"Caneyville, KY","Caneyville, KY","Caneyville, KY"
5989,6544,Steven Verdone,2021-01-22,shot,knife,NaN,M,NaN,Homosassa,FL,False,other,Not fleeing,False,-82.537,28.764,True,"Homosassa, FL","Homosassa, FL","Homosassa, FL"
5990,6541,Tyree Kajuan Rogers,2021-01-24,shot,vehicle,38.0,M,NaN,Wichita Falls,TX,False,attack,Car,False,-98.431,33.883,True,"Wichita Falls, TX","Wichita Falls, TX","Wichita Falls, TX"
5991,6540,Caleb McCree,2021-01-24,shot and Tasered,box cutter,43.0,M,W,Slidell,LA,True,attack,NaN,False,-89.825,30.318,True,"Slidell, LA","Slidell, LA","Slidell, LA"

In [27]:
fps.groupby("city_state").count().sort_values(by="id", ascending=False)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,"city,state","city, state"
city_state,,,,,,,,,,,,,,,,,,,
"Los Angeles, CA",91,85,91,91,88,84,91,83,91,91,91,91,81,91,90,90,91,91,91
"Phoenix, AZ",87,81,87,87,82,82,87,73,87,87,87,87,87,87,79,79,87,87,87
"Houston, TX",63,54,63,63,60,57,63,56,63,63,63,63,60,63,61,61,63,63,63
"Las Vegas, NV",52,51,52,52,51,51,52,46,52,52,52,52,50,52,51,51,52,52,52
"San Antonio, TX",48,45,48,48,48,43,48,45,48,48,48,48,44,48,46,46,48,48,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Leavenworth, KS",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Chase City, VA",1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1
"Chaska, MN",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"Leadwood, MO",1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"300 block of State Line Road, TN",1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,1